html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
h3{
  color: blueviolet;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 180;
  position: relative;
  vertical-align: middle;
  padding: 50px;
  margin: 0%;
}
h1{
  color: blueviolet;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100;
  position: relative;
  vertical-align: middle;
  padding: 50px;
  margin: 0%;
}
.para{
  margin: 0px;
  
  background-color: black;
  display: inline-block;
  color: white;
  line-height: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  position: relative;
  padding: 30px;
}
#intro{
  color: red;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100%;
  font-size: x-large;
  padding: 30px;
}
#heri{
  color: black;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100%;
  font-size: x-large;
  padding: 30px;
}
*{
  margin: 0%;
  padding: 0%;
}

.wrapper{
  margin:0 auto;
  width: 1000px;
}

.imgg{
  width: 700px;
}